@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.chip {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: min-content;
  margin-bottom: 10px;
  padding: 10px 15px;
  background: rgba(225, 225, 225, 0.1);
  border: 0.1px solid rgba(225, 225, 225, 0.2);
  border-radius: 35px;
  font-size: 12px;
}